.pad-10{
    padding: 10px;
}

.padleft-10{
    padding-left: 10px;
}

.pad-20{
    padding: 20px;
}

.pad-25{
    padding: 25px;
}

.b1{
    border: 1px solid black;
}

.b2{
    border: 1px solid green;
}

.b2{
    border: 1px solid red;
}

.m10{
    margin: 10px;
}

.m20{
    margin: 20px;
}

.mt50{
    margin-top: 50px;
}

.br10{
    border-radius: 10px;
}

.w-25{
    width: 25%;
}

.w30{
    width: 30%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}